table {
    background: var(--surface);
    border-radius: 10px;
    overflow: hidden;
    border: none;
}

th {
    background: #333;
    color: var(--secondary);
    border: 1px solid var(--border);
}

td {
    border: 1px solid var(--border);
    padding: 12px;
}

input[type="text"], input[type="number"], select {
    background: #2a2a2a;
    border: 1px solid var(--border);
    color: white;
    padding: 10px;
    border-radius: 5px;
}